# Majestic experimental compatibility direction.
# Build with:
#   OPENIPC_FW_REPO=https://github.com/ArthurKoba/openipc-firmware.git
#   OPENIPC_FW_REV=work/fh8626v100-majestic
BR2_PACKAGE_ANJIA_AJL33PQ0866_TARGET_NAME="fh8626v100_lite_anjia-ajl33pq0866_majestic"
BR2_PACKAGE_ANJIA_AJL33PQ0866_UPDATE_TARGET="fh8626v100_lite_anjia-ajl33pq0866_majestic"
# BR2_PACKAGE_DIVINUS is not set
BR2_PACKAGE_MAJESTIC_FH8852V200_COMPAT=y
